body {
    background-image: url(../images/john-denver-sun-soaked-aspens.jpg)
}

#wrapper {
    width: 680px;
    /* height: 555px; */
    height: 550px;
    margin: 80px 400px 10px 450px;
    padding: 10px;
    background-color: black;
    border: 5px solid red;

}

#welcome {
    color: cornsilk;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
}

#start {
    display: block;
    color: cornsilk;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
}

#directions {
    display: none;
    color: cornsilk;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    border: 5px solid purple;
}

#blankTitle {
    display: block;
    color: cornsilk;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    border: 5px solid green;
}

#triesLeft {
    
    color: cornsilk;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    border: 5px solid orange;
}

#lettersNotInTitle {
    display: block;
    height: 50px;
    color: cornsilk;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    border: 5px solid yellow;
}

#titlesDeduced {
    display: block;
    color: cornsilk;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    border: 5px solid white;
}

#titlesMissed {
    display: none;
    color: cornsilk;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    border: 5px solid white;
}

#titlesUnknown {
    display: block;
    color: cornsilk;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    border: 5px solid rgb(34, 7, 133);
}

#music {
    width: 680px;
    margin: 10px 400px 0 455px;
    padding: 5px;
    text-align: center;
}